<h2>nova goleta!</h2>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, input_html: { autocomplete: 'off' } %>
  <%= f.input :photo, as: :file %>

  <%= link_to 'Cancela', cocktails_path, class: 'btn btn-outline-secondary' %>
  <%= f.submit 'Criar Birita', class: 'btn btn-warning' %>
<% end %>